<!-- <h3>Name : {{userName}}</h3>
<h1 class = "text-danger">hello from footer</h1>

<button [disabled] = "isDisabledBtn">click here</button>
<br>
<button (click) = "alertUserName()">show username</button> -->
<footer class="text-white">
   
    <div class="container">
        <div class="row mt-5">
        <div class="col-md-2">
            <div class="left ">
                <ul>
                    <li>zinabebaid22@gmail.com</li>
                    <li>01118327081</li>
                </ul>
            </div></div>
            <div class="col-md-2"></div>
            <div class="col-md-2 ">
                <button class="btnClass">CONTACT ME</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3 "><p>Copyright@201986990</p></div>
        </div>
    </div>
</footer>