
<section class="about ">
    <div class="container">
        <div class="row">
        <div class="col-md-5">
        <div class="header">
            <h2>About me</h2>
        </div></div>

       
            <div class="col-md-7">
                <div class="about-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse alias sequi voluptates, totam iure magnam voluptas eum quas eius architecto voluptatibus velit commodi et minus veritatis assumenda vero modi veniam?</p>
                <button class="btnClass text-white">Download Resource</button>
              
            </div>
        </div>
</div> 
    </div>
</section>
