<section class="portfolio">
    <div class="container">
        <h2>Portfolio</h2>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="content ">
                    <h3>WMOBILE DESIGN</h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="content ">
                    <h3>MOBILE DESIGN</h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="content ">
                    <h3>MOBILE DESIGN</h3>
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="content ">
                    <h3>WMOBILE DESIGN</h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="content ">
                    <h3>MOBILE DESIGN</h3>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="content ">
                    <h3>MOBILE DESIGN</h3>
                    
                </div>
            </div>
        </div>
    </div>
</section>
